In [1]:
import requests #to get persmission from websites to scrap
from bs4 import BeautifulSoup
name=[]
price=[]
rating=[]
for i in range(1,19):
    r=requests.get('https://www.flipkart.com/search?q=iphone&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as={x}'.format(x=i))
    r.text
    soup=BeautifulSoup(r.text)
    n=soup.find_all('div',attrs={'class':'_4rR01T'})
    
    for i in n:
        name.append(i.text)
    p=soup.find_all('div',attrs={'class':'_30jeq3 _1_WHN1'})
    for i in p:
        price.append(int(i.text.replace('₹','').replace(',','')))
    ra=soup.find_all('div',attrs={'class':'_3LWZlK'})
    for i in ra:
        rating.append(float(i.text))

In [6]:
print(len(price))
print(len(name))

rr=rating[0:len(name)]

ids=list(range(1,len(name)+1))

d={'id':ids,'name':name,'price':price,'rating':rr}
len(ids)

432
432

432

In [7]:
import pandas as pd
df=pd.DataFrame(d)
df

      id                                  name  price  rating
0      1        APPLE iPhone 11 (White, 64 GB)  35990     4.6
1      2   APPLE iPhone 13 (Starlight, 128 GB)  59990     4.7
2      3    APPLE iPhone 13 (Midnight, 128 GB)  59990     4.7
3      4        APPLE iPhone 11 (Black, 64 GB)  35990     4.6
4      5       APPLE iPhone 13 (Green, 128 GB)  59990     4.7
..   ...                                   ...    ...     ...
427  428       APPLE iPhone 11 (Green, 128 GB)  43990     4.7
428  429   APPLE iPhone 12 Mini (Black, 64 GB)  39490     4.6
429  430        APPLE iPhone 13 (Blue, 256 GB)  67990     4.5
430  431   APPLE iPhone 13 (Starlight, 256 GB)  67990     4.6
431  432  APPLE iPhone 12 Mini (White, 128 GB)  46490     4.5

[432 rows x 4 columns]

In [ ]:
df.to_csv('iphonedata.csv')

In [ ]:
df2=pd.read_csv("iphonedata.csv")
df2